<ul class="wizard">
  <li [ngClass]="{ completed: submitted }" [ngClass]="{ active: !submitted }">
    <span>Sign Up</span>
  </li>
  <li [ngClass]="{ completed: submitted && registerForm.valid }" [ngClass]="{ active: registerForm.invalid }">
    <span>Submit Info</span>
  </li>
  <li [ngClass]="{ completed: submitted && !this.showForm }" [ngClass]="{ active: this.showForm }">
    <span>Complete</span>
  </li>
</ul>

<div class="card m-3" *ngIf="showForm">
  <h5 class="card-header">Contact Information</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" formControlName="firstName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">
              First Name is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" formControlName="lastName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>State</label>
          <select formControlName="state" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
            <option value="">Select State</option>
            <option value="PA">PA</option>
            <option value="DE">DE</option>
            <option value="NJ">NJ</option>
            <option value="NY">NY</option>
          </select>
          <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
            <div *ngIf="f.state.errors.required">State is required</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label>Confirm Email</label>
          <input type="text" formControlName="confirmEmail" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.confirmEmail.errors }" />
          <div *ngIf="submitted && f.confirmEmail.errors" class="invalid-feedback">
            <div *ngIf="f.confirmEmail.errors.required">
              Confirm Email is required
            </div>
            <div *ngIf="f.confirmEmail.errors.mustMatch">Email must match</div>
          </div>
        </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" formControlName="subscribe" id="subscribe" class="form-check-input" checked="true" />
        <label for="subscribe" class="form-check-label">Subscribe to Newsletter</label>
      </div>
      <div class="text-right">
        <button class="btn btn-primary mr-1">Continue</button>
      </div>
    </form>
  </div>
</div>

<div class="card m-3" *ngIf="!showForm">
  <h5 class="card-header">Contact Information</h5>
  <div class="card-body">
    Thank you for registering!
    <span>You should receive a confirmation email momentarily containing additional
      details.</span>
  </div>
</div>
