ul.wizard, ul.wizard li {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}
ul.wizard {
  counter-reset: num;
}
ul.wizard li {
  flex-direction: column;
  align-items: center;
  position: relative;
}
ul.wizard li::before {
  counter-increment: num;
  content: counter(num);
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.5em;
  border-radius: 50%;
  background: #21a2d1;
}
ul.wizard li ~ li::after {
  content: '';
  position: absolute;
  width: 100%;
  right: 50%;
  height: 4px;
  background-color: #21a2d1;
  top: calc(.75em - 2px);
  z-index: -1;
}
ul.wizard li.active::before {
  background: #04497b;
  color: white;
}
ul.wizard .active ~ li::before,
ul.wizard .active ~ li::after {
  background: #b7b7b7;
}
ul.wizard span {
  color: #7d7d7d;
  font-size: 12px;
  font-family: Arial;
}

/*  updated sample  */

ul.wizard li.completed::before {      /*  number and circle  */
  background: red;
  color: white;
}
ul.wizard li.completed span {         /*  text  */
  color: red;
}
ul.wizard li.completed + li::after {  /*  line after circle  */
  background: red;
}
ul.wizard li.completed::after {       /*  line before circle  */
  background: red;
}
