
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<div id="logo" class="alert-info text-center bg-white"><img src="../assets/logo.png" title="IntraMed Meetings" ></div>

<div class="app-container">
  <alert></alert>
  <router-outlet></router-outlet>
</div>
